@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
h1 { color: red;
}
h2 {
    color: azure;
}
:root {
    background-color:rosybrown;
}
body {
    max-width: 980px;
    margin: auto;
}
}
.social-icons {
    justify-content: flex-end;
    align-content: flex-start;
}
.social-icons img {
    width: 40px;
}

.contact {
    color: red;
}

.lng-img {
    border-radius: 5px;
    width: 40px;
    height: 40px;
}
.banner {
    height:250px;
    font-size: 25px;
    font-weight:250;
    padding: 40px 40px 1px 80px;

